.header {
    width: 100vw;
    height: 40px;
    padding-top: 8px;
    z-index: 3;
    display: flex;
    border-bottom: 2px solid #a56d06;
    background-color: rgba(24, 24, 24, 0.85);
    position: relative;

    &-main {
        display: flex;
        flex-grow: 1;
        padding-left: 15px;
    }

    &-extra {
        display: flex;
        flex-shrink: 1;
        padding-right: 20px;
    }
}
.option {
    display: inline-block;
    flex-shrink: 1;
    padding: 6px 10px;
    border-radius: 2px;
    border-bottom: 2px solid #181818;
    transition: 0.3s;
    height: 22px;
    &:hover {
        cursor: pointer;
        & span {
            color: #a56d06;
            border-bottom: 2px solid #a56d06;
        }
    }
    & span {
        font-size: 18px;
        color: #b4b4b4;
        transition: 0.3s;
        white-space: nowrap;
    }
}

.seperator {
    font-size: 24px;
    color: #b4b4b4;
    margin: 0px 12px;
}