<div class="header">
    <div class="header-main">
        <div routerLink="/" class="option">
            <span>Teamruns</span>
        </div>
        <div routerLink="/leaderboards" class="option">
            <span>Leaderboards</span>
        </div>
        <div routerLink="/faq" class="option">
            <span>FAQ</span>
        </div>
        <div routerLink="/guides" class="option">
            <span>Guides</span>
        </div>
    </div>
    <div class="header-extra">
        <div (click)="externalRedirect('/rco')" class="option">
            <span>RCO</span>
        </div>
        <div (click)="externalRedirect('https://opengoal.dev/')" class="option">
            <span>OpenGOAL</span>
        </div>
        <div (click)="externalRedirect('https://jakmods.dev/')" class="option">
            <span>Jak Mods</span>
        </div>
    </div>
</div>