.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30px;
    padding-top: 8px;
    padding-left: 25px;
    z-index: 3;
    display: flex;
    border-bottom: 2px solid #a56d06;
    background-color: rgba(24, 24, 24, 0.85);
}
.option {
    display: inline-block;
    flex-shrink: 1;
    margin-right: 16px;
    border-radius: 2px;
    border-bottom: 2px solid #181818;
    transition: 0.3s;
    height: 22px;
    &:hover {
        cursor: pointer;
        border-bottom: 2px solid #a56d06;
    }
    & span {
        padding: 6px;
        font-size: 18px;
        color: #b4b4b4;
        transition: 0.3s;
        &:hover {
            color: #a56d06;
        }
    }
}