
<div class="background-image"></div>
<div class="container">
    <div class="logo">
        <img src="./assets/teamrun-logo.png" alt="image">
        <p>Teamruns</p>
    </div>
    <p class="info-text">Download</p>

    <div class="info-version-container">
        <div class="info-download-container">
            <div class="info-version">
                <p>Windows</p>
            </div>
            <a class="info-box info-download" href="https://github.com/JoKronk/teamruns-client/releases/latest/download/teamruns-client-{{ release }}-installer.exe">
                <p>Download Installer</p><mat-icon>file_download</mat-icon>
            </a>
            <a class="info-box info-download" href="https://github.com/JoKronk/teamruns-client/releases/latest/download/teamruns-client-{{ release }}-portable.exe">
                <p>Download Portable</p><mat-icon>sd_storage</mat-icon>
            </a>
        </div>
    
        <div class="info-download-container">
            <div class="info-version">
                <p>Linux</p>
            </div>
            <a class="info-box info-box-linux info-download" href="https://github.com/JoKronk/teamruns-client/releases/latest/download/teamruns-client-{{ release }}-linux.AppImage">
                <p>Download AppImage</p><mat-icon>sd_storage</mat-icon>
            </a>
        </div>
    </div>

    <div class="info-container">
        <div class="info-box">
            <p class="info-box-title">What is Teamruns?</p>
                <p><span>Teamruns is a both online and couch co-op multiplayer mod for <a target="_blank" href="https://opengoal.dev/">OpenGOAL</a>, the PC port Jak and Daxter.</span></p>
                <p>
                    <span>
                        The mod allows you to play through the game with others in a shared game world with interactable players.
                        All ingame cutscenes that normally interrupt the game flow have also been modified to run in real time to work better with multiplayer.
                    </span>
                </p>
                <br />
                <p><span>The mod in general is mostly catered towards speedrunning with built in ingame timer, splits, and automatic leaderboard submission and verification through the use of demo files, but does also come with some other game modes for casual play and a recording tool for creating custom demo files.</span></p>
                <p><span>Features still missing from the multiplayer aspect are navigation and projectile pathing logic for normal enemies that are still individual to each player.</span></p>
                <p><span>For installation check the <a routerLink="/installation">Getting Started</a> page.</span></p>
                <p><span>For more info check the <a routerLink="/faq">FAQ</a> page.</span></p>
        </div>
    </div>

    <div class="info-container">
        <div class="info-box">
            <p class="info-box-title">Watch the trailer</p>
            <iframe src="https://www.youtube.com/embed/JoqMJ0_0QAw"></iframe>
        </div>
    </div>
    <p class="bottom-text">OpenGOAL</p>
</div>