
<div class="background-image"></div>
<div class="container">
    <div class="logo">
        <img src="./assets/teamrun-logo.png" alt="image">
        <p>Teamruns</p>
    </div>
    <p class="info-text">Download</p>

    <br />
    <p class="coming-soon">Releasing June 5, 2024</p>
    <br />
    <br />
    <br />

    <div class="info-container">
        <div class="info-box">
            <p class="info-box-title">What is Teamruns?</p>
                <p><span>Teamruns is a both online and couch co-op multiplayer mod for <a target="_blank" href="https://opengoal.dev/">OpenGOAL</a>, the PC port Jak and Daxter.</span></p>
                <p>
                    <span>
                        The mod allows you to play through the game with others in a shared game world with interactable players.
                        All ingame cutscenes that normally interrupt the game flow have also been modified to run in real time to work better with multiplayer.
                    </span>
                </p>
                <br />
                <p><span>The mod in general is mostly catered towards speedrunning with built in ingame timer, splits, and automatic leaderboard submission and verification through the use of demo files, but does also come with some other game modes for casual play and a recording tool for creating custom demo files.</span></p>
                <p><span>Features still missing from the multiplayer aspect are projectile pathing logic and navigation for normal enemies that are still individual to each player.</span></p>
                <p><span>For installation check the <a routerLink="/guides">Guides</a> page.</span></p>
                <p><span>For more info check the <a routerLink="/faq">FAQ</a> page.</span></p>
        </div>
    </div>

    <p class="bottom-text">OpenGOAL</p>
</div>