
<div class="background-image"></div>
<div class="container">
    <div class="logo">
        <img src="./assets/teamrun-logo.png" alt="image">
        <p>Teamruns</p>
    </div>
    <p class="info-text">Download</p>

    <div class="info-version-container">
        <div class="info-download-container">
            <div class="info-version">
                <p>Windows</p>
            </div>
            <a class="info-box info-download" href="https://github.com/JoKronk/teamruns-client/releases/latest/download/teamruns-client-{{ release }}-installer.exe">
                <p>Download Installer</p><mat-icon>file_download</mat-icon>
            </a>
            <a class="info-box info-download" href="https://github.com/JoKronk/teamruns-client/releases/latest/download/teamruns-client-{{ release }}-portable.exe">
                <p>Download Portable</p><mat-icon>sd_storage</mat-icon>
            </a>
        </div>
    
        <div class="info-download-container">
            <div class="info-version">
                <p>Linux</p>
            </div>
            <a class="info-box info-box-linux info-download" href="https://github.com/JoKronk/teamruns-client/releases/latest/download/teamruns-client-{{ release }}-installer.exe">
                <p>Download Installer</p><mat-icon>file_download</mat-icon>
            </a>
            <a class="info-box info-box-linux info-download" href="https://github.com/JoKronk/teamruns-client/releases/latest/download/teamruns-client-{{ release }}-portable.exe">
                <p>Download Portable</p><mat-icon>sd_storage</mat-icon>
            </a>
        </div>
    </div>

    <div class="info-container">
        <div class="info-box">
            <p>Setup Guide</p>
            <p><span>1.</span><span>Download the latest release (installer or portable) above.</span></p>
            <p><span>2.</span><span>Install/Run the client.</span></p>
            <p><span>2.5.</span><span>IF you intend to do speedruns, create a user.</span></p>
            <p><span>3.</span><span>Read the "Help/Info" page found on the lobby page.</span></p>
            <p><span>4.</span><span>Create or join a game and play.</span></p>
        </div>
    </div>
    <p class="bottom-text">OpenGOAL</p>
</div>