
<div class="background-image"></div>
<div class="container">
    <div class="info-container">
        <h1>Known Issues</h1>
        <h3>General</h3>
        <div>
            <h4>Leaving LPC Crash</h4>
            <p>Another player using the slide in LPC as the level deload crashes right now.</p>
        </div>

        <div>
            <h4>Cell Animation Skip</h4>
            <p>Sometimes cell animations end early.</p>
        </div>
        
        <div>
            <h4>Zoomer Cell Animations</h4>
            <p>Sometimes zoomer cell animations play the on foot one instead.</p>
        </div>
        
        <h3>Speedrun Related</h3>
        <div>
            <h4>Ghost interactions</h4>
            <p>Ghosts can currently interact with the button at the bottom of LPC, the bombs at final boss, boxes while on flut flut.</p>
        </div>
    </div>
    <p class="bottom-text">OpenGOAL</p>
</div>

